article > div:first-child {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

article > div:first-child #depviz {
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

article > div:first-child > *:not(#depviz),
article > div:first-child > #depviz > *:not(#depviz-graph) {
  max-width: calc(var(--article-width) - 2rem);
  margin: 1rem auto;
}

article > div:first-child #mermaid-diagram {
  margin: 2rem auto;
}

article > div:first-child #depviz-form input[type="radio"]#depviz-lr + label {
  margin: 0 0 0 1rem;
}

article > div:first-child #depviz-form input[type="radio"]#depviz-tb + label,
article > div:first-child #depviz-form input[type="radio"]#depviz-rl + label,
article > div:first-child #depviz-form input[type="radio"]#depviz-bt + label {
  margin: 0;
}

article > div:first-child #depviz-form input[type="radio"]#depviz-lr + label::before,
article > div:first-child #depviz-form input[type="radio"]#depviz-tb + label::before,
article > div:first-child #depviz-form input[type="radio"]#depviz-rl + label::before,
article > div:first-child #depviz-form input[type="radio"]#depviz-bt + label::before {
  margin: 0 0.25rem 0 0;
  font-weight: 900;
}

article > div:first-child #depviz-form input[type="radio"]#depviz-lr + label::before {
  content: "\f061";
}

article > div:first-child #depviz-form input[type="radio"]#depviz-tb + label::before {
  content: "\f063";
}

article > div:first-child #depviz-form input[type="radio"]#depviz-rl + label::before {
  content: "\f060";
}

article > div:first-child #depviz-form input[type="radio"]#depviz-bt + label::before {
  content: "\f062";
}

@media screen and (width <= 1000px) {
  article > div:first-child > *:not(#depviz),
  article > div:first-child > #depviz > *:not(#depviz-graph) {
    max-width: var(--article-width);
    margin: 1rem;
  }
}
