article .maintext {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

article .maintext #depviz {
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

article .maintext > *:not(#depviz),
article .maintext > #depviz > *:not(#depviz-graph) {
  margin: 1rem auto;
  max-width: calc(var(--max-width) - 2rem);
}

@media screen and (max-width: 1000px) {
  article .maintext > *:not(#depviz),
  article .maintext > #depviz > *:not(#depviz-graph) {
    margin: 1rem;
    max-width: var(--max-width);
  }
}
