article > div:first-child {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

article > div:first-child #depviz {
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

article > div:first-child > *:not(#depviz),
article > div:first-child > #depviz > *:not(#depviz-graph) {
  max-width: calc(var(--article-width) - 2rem);
  margin: 1rem auto;
}

article > div:first-child #depviz .depviz-labels {
  padding: 0.25rem;
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--background-color);
  opacity: 0.9;
}

@media screen and (width < 1000px) {
  article > div:first-child > *:not(#depviz),
  article > div:first-child > #depviz > *:not(#depviz-graph) {
    max-width: var(--article-width);
    margin: 1rem;
  }
}
