article #depviz {
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

#depviz > * {
  margin: 1rem 0;
}

#depviz .depviz-labels {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  opacity: 0.9;
  padding: 0.25rem;
}
